#catalogue_list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0%;
}

#catalogue_list li {
    list-style-type: none;
    text-align: center;
    border: 2px solid black;
}

#catalogue_list li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

#catalogue_list li:hover {
    background-color: #E9967A;
    display: block;
}
