* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    margin-right: 50%;
}

div#person_text ul {
    padding-left: 0px;
    display: flex;
    align-items: center;
}

div#person_text ul li {
    list-style-type: none;
    width: 150px;
    text-align: left;
}

.name {
    border: 2px solid #aaa;
    width: 148px;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    box-sizing:border-box;
    font-size: 15px;
}
.name:focus{
    border-color: #1e90fa;
    box-shadow:0 0 4px 0 #1e90fa;
}

#email {
    border: 2px solid #aaa;
    width: 300px;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    box-sizing:border-box;
    font-size: 15px;
}
#email:focus{
    border-color: #1e90fa;
    box-shadow:0 0 4px 0 #1e90fa;
}

#message {
    border: 2px solid #aaa;
    width: 300px;
    height: 100px;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    box-sizing:border-box;
    font-size: 15px;
}

#message:focus{
    border-color: #1e90fa;
    box-shadow:0 0 4px 0 #1e90fa;
}