<footer>
    <div id="footer_div">
        <p><a href="#">TOS</a></p>
        <p><a href="#">Career</a></p>
        <p><a href="#">Security Policy</a></p>
        <p><a href="../contacts">Contacts</a></p>
        <p><a href="#">Licence</a></p>
    </div>
    <p style="text-align:center">&copy; <br>
        <a href="https://t.me/SXRU1" style="text-decoration: none;">
            Maltsev V. V.</a>   <br>
        <a href="mailto:slavaitru@gmail.com" style="text-decoration: none;">
        slavaitru@gmail.com</a></p>
</p>
</footer>