{% load static %}
<body>
    <nav>
        <ul>
            <li> <a href="http://127.0.0.1:8000/">Home</a></li>
            <li> <a href="http://127.0.0.1:8000/about/">About</a></li>
            <li> <a href="http://127.0.0.1:8000/catalogue/">Products</a></li>
            <li> <a href="http://127.0.0.1:8000/contact/">Contact Us</a></li>
            <li> <a href="http://127.0.0.1:8000/cart/">
                <img src="{% static 'img/cart.png' %}" alt="Cart" class="logo"></a></li>
            <li> <a href="http://127.0.0.1:8000/login/">
                <img src="{% static 'img/profile.png' %}" alt="Profile" class="logo"></a></li>
        </ul>
    </nav>   
</body>

