{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
    <title>RentUments</title>
    <link rel="stylesheet" href={% static '/css/base.css' %} >
    <link rel="stylesheet" href={% static '/css/contacts.css' %} >
</head>

<body>
    {% include 'navbar.html' %}
    <p>
        <b>     
        This writing and the navbar will 
        not go away in other pages, because they are not
        in {block tag} in 'base.html'.
        </b>
    </p>
    {% block cnt %}
    <p><b>Contents of {block cnt}</b></p> 
    {% endblock cnt %}
    
    {% block another_one %}
    <p><b>Contents of {block another_one}</b></p>
    {% endblock another_one  %}
    
    </body>
</html>