{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
    <title>RentUments</title>
    <link rel="stylesheet" href={% static '/css/navbar.css' %} >
    <link rel="stylesheet" href={% static '/css/contacts.css' %} >
    <link rel="stylesheet" href={% static '/css/footer.css' %} >
</head>


<!-- .logo {
    width: 25px;
    height: 25px;
    background-color: inherit;
} -->
<body>
    <p style="text-align: center; margin: 0">
        <a href="../home/"><img src="{% static 'img/rentuments.png' %}" alt="RentUments Logo" 
            style="width: 400px; height: 50px;"></a> 
    </p>
    {% include 'includes/navbar.html' %}
    <p style="text-align: center">
        <b>     
        This writing and the navbar will 
        not go away in other pages, because they are not
        in {block tag} in 'base.html'. <br>
        All urls: <br>
        <a href="../admin/">admin</a>,
        <a href="../home/">home</a>,
        <a href="../contacts/">contacts</a>,
        <a href="../create/">create</a>,
        <a href="../products/">products</a>,
        <a href="../about/">about</a>,
        <a href="../login/">login</a>,
        <a href="../cart/">cart</a>,
        <a href="../catalogue/">catalogue</a>,
        </b>
    </p>
    {% block cnt %}
    <p><b>Contents of {block cnt}</b></p> 
    {% endblock cnt %}
    
    {% block another_one %}
    <p><b>Contents of {block another_one}</b></p>
    {% endblock another_one  %}
    
    {% include 'includes/footer.html' %}
    </body>
</html>