{% extends 'base.html' %}
{% block cnt %}

<table style="margin-right: 0px">
    <tr>
        <td style="width:302px">
            {% include 'includes/form.html' %}
        </td>
        <td id="qck" style="vertical-align: text-top">
            <p style="font-size: 50px; 
                text-align: center; margin-top: 0px;">Quick fixes</p>
        </td>
    </tr>
</table>

<p>Or You can contact us at:</p>
{% comment %} <a href="mailto:slavadjango@gmail.com">email</a> </br> {% endcomment %}
<a href="t.me/SXRu1">Telegram</a>
{% endblock cnt %}

{% block another_one %}{% endblock another_one %}