{% extends 'base.html' %}

{% block cnt %}

    <form method='POST' style='margin: 0 70% 0 5%; min-width: 200px;
        border: 2px solid coral; padding: 2%; box-shadow: 0 0 5px 0 coral;'> 
        {% csrf_token %}
        {% if error %}
            <p style="color: red; margin: 0">{{ error }}</p> 
        {% endif %}
        <div style="margin-top: 20px;">
            <p>Enter Your username:</p>
            <input type="text" name='username' placeholder="username"/>
        </div>
        <div style="margin-top: 20px;">
            <p>Enter Your password:</p>
            <input type="password" name='password' placeholder='password'/>
        </div>
        <button type="submit" style='margin-top: 20px;'>Login</button>
    </form>    

{% endblock cnt %}