nav {
    background-color: darksalmon;
    border: 2px;
    border-style: solid;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 40%;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
}

li a:hover {
    background-color: black;
    opacity: 0.5;
}